# Python cache
__pycache__/
*.pyc

# Virtual environment
venv/

# Database file (biar repo tetap bersih, nanti bisa generate lagi dengan init_db.py)
database.db

# Environment variables (kalau ada)
.env

# VSCode / IDE settings
.vscode/
.idea/

# System files
.DS_Store
Thumbs.db
